@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.header{
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}
.navbar{
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-menu{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar-item{
    margin-left: 40px;
    margin-right: 40px;
    
    
}
.navbar-item:hover{
    outline: 16px solid #3596F5;
    background-color: #3596F5;
}


.navbar-link{
    text-decoration: none;
    color: #fff;
}
.navbar-contacts{
    text-align: right;
}
.navbar-text{
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.main{
    padding-top: 54px;
    padding-left: 81px;
    display: flex;
}
.main-info{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.home-image path{
    opacity: 0;
    cursor: pointer;
}
.home-image path:hover{
    opacity: 1;
}
path.current-floor{
    opacity:1; 
}
.counter-group{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.counter-button{
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.counter-down{
    transform: rotateX(180deg)
}
.main-title{
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 37px;
    text-transform: uppercase;
    color: #635854;
}
.floor-counter{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 124px;
    line-height: 124px;
    text-transform: uppercase;
    color: #635854;
}

.button-primary{    
    padding: 16px 36px;
    background: #3596F5;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}
.modal{
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.is-open{
    opacity: 1;
    transform: scale(1);
}
.modal-dialog{
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}
.is-open > .modal-dialog{
    opacity: 1;
    transform: translateY(0);
}
.modal-image{
    width: 60%;
    background-color: #ebebeb;
    text-align: center;
    padding: 50px;
}
.flats path{
    opacity: 0;
    cursor: pointer;
}
.flats path:hover{
    opacity: 1;
}
path.active-flat{
    opacity: 1; 
}
.modal-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    line-height: 29px;
    margin-top: 0;
    margin-bottom: 25px;
    color: #000000;
}
.modal-info{
    width: 40%;
    padding: 50px 46px;
}
.flat-list{
    list-style: none;
    padding: 0;
    margin-top: 55px;
}
.flat-item{
    margin-bottom: 10px;
}
.flat-link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    text-decoration: none;
}
.flat-link:hover, a.active-flat-link{
    color: #3596F5;
    text-decoration: underline;
}
.modal-alert{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    margin-top: 56px;
}
.modal-close-button{
    position: absolute;
    top: 27px;
    right: 38px;
    background-color: #fff;
    border:none;
    cursor: pointer;

}